<?xml version="1.0"?>
<config>
    <modules>
        <Mitac_Stevehello>
            <version>1.0.0</version>
        </Mitac_Stevehello>
    </modules>
	<global>

        <blocks>
            <connect>
                <class>Mitac_Stevehello_Block</class>
            </connect>
        </blocks>
    </global>
	<frontend>
        <routers>
            <stevehello>
                <use>standard</use>
                <args>
                    <module>Mitac_Stevehello</module>
                    <frontName>stevehello</frontName>
                </args>
            </stevehello>
        </routers>
         <layout>
            <updates>
                <stevehello module="Mitac_Stevehello">
                 <file>mitac/stevehello.xml</file>
               
                </stevehello>
            </updates>
        </layout>
       <translate>
            <modules>
                <stevehello>
                    <files>
                        <default>Mitac_Stevehello.csv</default>
                    </files>
                </stevehello>
            </modules>
        </translate>
		
		
	</frontend>
</config>